@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

@layer base {
  :root {
    --background: 0 0% 7.5%;
    --foreground: 0 0% 100%;
    --card: 0 0% 7.5%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 7.5%;
    --popover-foreground: 0 0% 100%;
    --primary: 227 98% 71%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 11% 21%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 11% 21%;
    --muted-foreground: 0 0% 80%;
    --accent: 220 11% 21%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 11% 21%;
    --input: 220 11% 21%;
    --ring: 227 98% 71%;

    --sidebar-background: 220 11% 21%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 227 98% 71%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 7.5%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 11% 21%;
    --sidebar-ring: 227 98% 71%;
  }

  .dark {
    --background: 0 0% 7.5%;
    --foreground: 0 0% 100%;
    --card: 0 0% 7.5%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 7.5%;
    --popover-foreground: 0 0% 100%;
    --primary: 227 98% 71%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 11% 21%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 11% 21%;
    --muted-foreground: 0 0% 80%;
    --accent: 220 11% 21%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 11% 21%;
    --input: 220 11% 21%;
    --ring: 227 98% 71%;

    --sidebar-background: 220 11% 21%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 227 98% 71%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 7.5%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 11% 21%;
    --sidebar-ring: 227 98% 71%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
